body{
 
    background: linear-gradient(#020608 ,#091921,#091921 ,#02080a,#02080a );
    min-height:  100vh;
}



.Watch 
{
    background: rgba(255, 255, 255, 0.0015);
    border-radius: 6px;
    border-top:1px solid rgba(255, 255, 255, 0.2) ;
    border-left:1px solid rgba(255, 255, 255, 0.2) ;
    box-shadow: 5px 5px 30px rgba(0, 0,0, 0.2);
    backdrop-filter: blur(15px);
}
.Watchon{
    animation: glow 5s  linear infinite;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
.Watchpouse{
    color: #fff !important;
    text-shadow: 0 0 30px #03bcf4;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}


 .col-2 h1{
    font-size: 120px;
    font-weight: 650;
    font-family:Arial, Helvetica, sans-serif ;
    color: #0e3742;
} 

h3{
    color: #0e3742  ;
    font-size: 50px;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace ;
} 


#h{
    font-size: 6em;
    font-weight: 750;
    font-family: Arial;
    font-style: oblique;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none ;
    animation: glow 5s  linear infinite;
    letter-spacing: 15px;  
}
.text-light{
    font-size: 6em;
    font-weight: 750;
    font-family: Arial;
    font-style: oblique;
    letter-spacing: 5px;   
}

@keyframes glow{
    0%,17%,20%,55.3%,64%,70.2%,72.3%,76.4%,86.7%,90.3%,92%
    {
        color: #0e3742;
        text-shadow: 0 0 1px #03bcf4;
    }
    17.1%,20.1%,55.5%,64.3%,70.12%,72.5%,76.14%,86.9%,90.4%,92.25%,100%{
        color: #fff;
        text-shadow: 0 0 60px #03bcf4;

    }

}    

/* button */

button{
    background-color: rgba(5, 29, 36, 0.094);
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 6px;
    border-top:1px solid rgba(255, 255, 255, 0.2) ;
    border-left:1px solid rgba(255, 255, 255, 0.2) ;
    box-shadow: 5px 5px 30px rgba(0, 0,0, 0.2);
    backdrop-filter: blur(15px);
}


